<html>
	<head>
		<meta charset="UTF-8" />
		<title>ServerManager</title>
		<link rel="icon" type="image/png" href="../Assets/Icon.png" />
		<link rel="stylesheet" type="text/css" href="../Assets/CSS/Fonts.css" />
		<link rel="stylesheet" type="text/css" href="../../Assets/CSS/Scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../Assets/CSS/Style.css" />
	</head>
	<body data-name="Main">
		<background></background>
		<header>
			<button data-action="window:close"></button>
			<button data-action="window:maximize"></button>
			<button data-action="window:minimize"></button>
			<dragarea></dragarea>
		</header>
		<resize></resize>
		<settings data-action="settings:toggle">
			<i class="material-icons">&#xE8B8;</i>
			<button data-action="server:create">Create Server</button>
		</settings>
		<overlay data-view="settings">
			<header>
				<h2>Settings</h2>
				<button data-action="settings:save"><i class="material-icons">&#xE161;</i> Save</button>			
				<button data-action="settings:close"><i class="material-icons">&#xE5C9;</i> Cancel</button>
			</header>
		</overlay>
		<script type="text/javascript" src="../Classes/Tools.js"></script>
		<script type="text/javascript" src="../Classes/Core.js"></script>
	</body>
</html>
